:root { 
--deep_purple_50_95:#ede7ff95; 
--blue_gray_100_26:#d9d9d926; 
--orange_50_95:#fff1e895; 
--blue_A200:#4285f4; 
--red_500:#eb4335; 
--light_green_A200:#ade446; 
--gray_800_01:#494a4d; 
--red_400:#eb5757; 
--black_900_3f:#0000003f; 
--green_600:#34a853; 
--gray_50:#f8f8fb; 
--red_50_95:#ffeaef95; 
--yellow_A200:#ffff00; 
--light_blue_50_95:#e9f9ff95; 
--black_900_01:#050214; 
--green_A700:#13c93e; 
--black_900:#050114; 
--blue_gray_900_0f:#3232470f; 
--white_A700_19:#ffffff19; 
--deep_purple_A200:#7549ff; 
--purple_500:#c10b99; 
--black_900_02:#000000; 
--gray_400:#b4b4b4; 
--black_900_0a:#0000000a; 
--gray_500:#989898; 
--blue_gray_400:#858b9e; 
--amber_500:#fbbc05; 
--blue_gray_100_26_01:#d0d2da26; 
--indigo_50:#d9e0f4; 
--gray_800:#35473a; 
--gray_900:#1d2027; 
--gray_900_01:#15192c; 
--gray_100:#f2f3f8; 
--blue_700_49:#2683c649; 
--blue_gray_400_03:#7090b003; 
--white_A700:#ffffff; 
}